<?xml version='1.0' encoding='utf-8'?>
<widget id="com.freeconomy" android-versionCode="49" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Freeconomy</name>
    <description>
        Freeconomy to manage your economies.
    </description>
    <author email="snigle64@gmail.com" href="http://github.com/snigle">
        Ludovic Lamarche
    </author>
    <icon src="src/img/ic_launcher.png" />
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-googleplus" source="npm">
        <variable name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.136643286294-p8r126j3803914r1vp0fdehjv5g2vbfn" />
        <variable name="WEB_APPLICATION_CLIENT_ID" value="136643286294-tq30lcaqafpkph4hb9muohe6ctt1291i.apps.googleusercontent.com" />
    </plugin>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
