@import "~bootstrap/scss/bootstrap";
@import "~material-design-icons/iconfont/material-icons.css";

.input-group-prepend {
    .material-icons {
        font-size: 18px;
    }
}
.material-icons{
    font-size:inherit;
}

.rotate {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    to {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(359deg);
    }
}